html {
   position: relative;
   min-height: 100%;
}

body {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: inherit;
   letter-spacing: 0.3px;
   /* image rights belong to ZingerBug.com */
   background-image: url(background2.jpg);
   position: relative;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.mainBody {
   background-color:   #e0e0eb;
   margin: 20px 320px 0 40px;
}
.navbar {
   background-image: linear-gradient(to right,  #e0e0eb ,#9494b8);
}
.navbar-brand {
   color: black!important;
   font-size: 30px;
   padding-right: 25px;
}
.nav-link {
   color: black!important;
   padding-right: 25px;
   font-size: 22px;
}
.nav-link:hover {
   color: white!important;
}
.navbar-toggler-icon {
   background-image: url(https://cdn3.iconfinder.com/data/icons/ui-ux-essentials-solid/24/hamburger-menu-solid-512.png)!important;
}
.card {
   width: 16rem;
   font-size: 18px;
   text-align: center;
}
.card-body {
   background-color:  #f0f0f5;
}
.container {
   margin-top: 10px 0 0 10px;
}
.col-md-5>h1 {
   font-size: 30px;
   font-weight: 900;
   padding-top: 10px;
}
.col-md-5>p {
   font-size: 18px;
   padding-top: 15px;
}
.col-md-3 {
   margin-right: 30px;
}
.mobileBody, .mobileText {
   display: none;
}
.containerContact, .containerPortfolio {
   text-align: center;
   margin-top: 50px;
   font-size: 30px;
}
.btn {
   background-color:   #666699;
   border-radius: 5%;
   border-color:  #666699;
   width: 15%;
   height: 40px;
}
.btn>a {
   color: white;
   text-decoration: none;
}
.footer {
   background-color: #f0f0f5;
   padding: 10px;
   margin-top: auto;
   text-align: center;
   display: block;
 }
.form-group {
   margin: 40px 40px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
}
.contact-header {
   background-color: #f0f0f5;
   padding: 10px;

   border-width: 5px;
   border-style: double;
   border-color: #9494b8;
   opacity: 65%;
}
.submitButton {
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: relative;
   padding-bottom: 10px;
}


/* Media queries  */

@media (max-width: 1239px) {
.mobileBody {
   display: block;
   width: 100%;
   padding: 20px;
   background-color: #e0e0eb;
   margin: 70px 0;
}
.mainBody {
   display: none;
}
.col-md-12>p {
font-size: 50px;
}
.col-md-12>h1 {
   font-size: 60px;
   font-weight: bolder;
   padding: 30px 0;
}
.contact-header {
   font-size: 18px;
}
form {
min-height: 1100px;
}
.form-group {
   height: 300px;
}
label {
   font-size: 28px;
   display: flex;
   flex-direction: column;
   margin: auto;
   
}
.form-control {
   width: 80%;
   height: 50px;
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 5px;
}
#inquiry {
   height: 200px;
}
button {
   height: 50px;
   width: 100px;
   background-color: grey;
   color: white;
   font-size: 24px;
}

}
